# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.expo/
web-build/

# Environment variables
.env
.env.local
.env.production

# IDE & Logs
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
services/auth-service/prisma/*.db

# EAS build leftovers
*.apk
*.aab
apps/mobile/build.json
apps/mobile/apk_url.txt

# Temporary
tmp/
.cache/
