# Server Configuration
PORT=3000
NODE_ENV=development

# Local PostgreSQL Configuration (Mac native / Homebrew)
# Replace 'postgres:postgres' or 'sysall' with your local PostgreSQL user & password
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tontine_db?schema=public"

# Local Redis Configuration (Mac native / Homebrew)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secret
JWT_SECRET=super_secret_tontine_express_jwt_key_2026
